.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    color: white;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .cardImage {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
  
  .cardContent {
    padding: 15px;
  }
  
  .cardTitle {
    font-size: 1.5em;
    margin: 0;
  }
  
  .cardDescription {
    font-size: 1em;
    color: #d7c1c1;
    margin: 10px 0;
  }
  
  .playButton {
    background-color: #524f4e;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .playButton:hover {
    background-color: #a09e9d;
  }
  